body {
    font-family: "Cuprum", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    background-color: #fff;
    color: #000;
}
a {text-decoration: none;}
p {
    margin: 0;
    padding: 0;
}
img {max-width: 100%;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.red-button {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    background-color: #ee3643;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
}
.red-button:hover {
    background-color: #ca2c37;
}
.red-button:active {
    background-color: #ba2732;
}
.center {
    width: 940px;
    margin: 0 auto;
}
/*----------------------------------HEADER*/
/****************************/
/*-----------------------------------------------------------*/
.main-header {
    font-size: 17px;
    line-height: 18px;
}
.flex-head {
    display: flex;
}
.main-header .logo, .main-footer .logo {
    display: block;
    box-sizing: border-box; 
    background-color: #ee3643;
    width: 220px;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;  
    box-shadow: 0 5px 0 0 #b52933;
}
.main-footer .logo {
    width: 215px;
    height: 68px;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 21px;
    margin-bottom: 30px;
}
.main-header .logo:hover, .main-footer .logo:hover {
    background-color: #ca2c37;
    border-bottom-color: #9a212a;
}
.main-header .logo:active, .main-footer .logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}
.flex-head input[type="search"] {
    width: 270px;
    height: 42px;
    background-color: #293449;
    color: #fff;
    border: none;
    padding-left: 48px;
}
.header-bookmarks, .header-cart, .header-issue {
    display: block;
    width: 150px;
    height: 42px;
    text-align: center;
    line-height: 42px; /*vertical-align*/
}
.header-bookmarks, .header-cart {
    color: #fff;
}

.flex-head input[type="search"]:hover, 
.header-bookmarks:hover, .header-cart:hover {
    background-color: #212a3a;
}
.flex-head input[type="search"]:focus {
    background-color: #fff;
    color: #111;
}
.header-bookmarks:active, .header-cart:active {
    background-color: #161d29;
    color: #babbbd;
}
.header-issue {
    background-color: #63a63e;
    color: #fff;
} 
.header-issue:hover {
    background-color: #5fbb2d;
}
.header-issue:active {
    background-color: #518534;
    color: #b6c8ae;
}
.wrapper-blue {
    background-color: #32425c;
    color: #fff;
}
.wrapper-dark_blue {
    background-color: #293449;
    color: #fff;
}
.wrapper-grey {
    background-color: #f3f7f9;
    padding-top: 46px;
    padding-bottom: 60px;
}
.wrapper-grey-small {
    background-color: #f3f7f9;
    padding-top: 46px;
    padding-bottom: 0;
}
.main-header .welcome {
    display: flex;
    margin-bottom: 40px;
}
.main-header p {
    margin: 0;
}
.main-header .description {
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
    margin: 0 70px 0 52px; 
}
.main-header .contact {
    margin-right: 70px;
}
.main-header .phone {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #fff;
    color: #ee3643;
    width: 270px;
    height: 45px;
    padding-left: 72px;
    text-align: left;
    font-size: 21px;
    line-height: 45px;
    margin-bottom: 10px;
}
.main-header .address {
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
}
.main-header .login-list {
    display: flex;
    align-items: flex-start;
    list-style: none;
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}
.login-list .login-item-enter {
    width: 121px;
    height: 45px;
    margin-right: 10px;
}
.login-list .user-enter {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 45px;
    background-color: #fff;
    color: #000;
    padding-left: 47px;
    border: none;
}
.login-list .login-item-registration {
    width: 150px;
    height: 45px;
}
.login-list .registration {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: none;
}
.login-list .user-enter:hover, .login-list .registration:hover {
    color: #ee3643;
} 
.login-list .user-enter:active, .login-list .registration:active {
    color: #cacaca;
} 


.navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.navigation-list li {
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    flex-grow: 1;
}
.navigation-list a {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #32425c;
    color: #fff;
    text-align: center;
    
    border-bottom: 5px solid #293449;
}
.navigation-list a:hover {
    background-color: #293449;
}
.navigation-list a:active {
    background-color: #1d2739;
    color: #a8abaf;
    border-bottom-color: #1d2739;
}

/* -----------MAIN*******************************ТС-♫◄↕‼♪¶§▬↨↑↓→←∟↔  */
/*-----------------------------*/
/*------------------------------*/
.wrapper-white {
    padding-top: 59px;
    padding-bottom: 85px;
}
.products {
    margin-bottom: 52px;
}
.products .type-list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between; */
}
.products .type-list::after {
    content: "";
    display: table;
    clear: both;
}
.products .type-item {
    width: 300px;
    height: 123px;
    box-sizing: border-box;
    color: #fff;
    padding-top: 20px;
    /* margin-bottom: 20px;
    margin-right: 20px; */
}
/* .products .type-item:nth-child(3), .products .type-item:nth-child(n+5) {
    margin-right: 0;
} */
.products .type-name {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;  
    margin-left: 22px;
    margin-bottom: 10px;
}
.products .type-about {
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    width: 135px;
    height: 38px;
    border-radius: 3px;  
    margin-left: 25px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
.products .type-about:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.products .type-about:active {
    background-color: rgba(0, 0, 0, 0.3);
}
.products .materials {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffbf47;
    background-image: url("img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 213px, 31px;
}
.products .instrument {
    float: left;
    margin-right: 20px;
    background-color: #3bbce3;
    background-image: url("img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 197px, 33px;
}
.products .technique {
    float: right;
    background-color: #dc91d8;
    background-image: url("img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 191px, 31px;
}
.products .type-item-slider {
    float: left;
    margin-right: 20px;
}
.products .discounts {
    float: left;
    margin-bottom: 20px;
    background-color: #8ed78f;
    background-image: url("img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 196px, 26px;
}
.products .delivery {
    float: left;
    background-color: #ffc047;
    background-image: url("img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 191px, 32px;
}

.type-item-slider input[type="radio"] {
    display: none;
}
.type-item-slider input#slide-perforator:checked ~ .perforator {
    display: inline-block;
}
.type-item-slider input#slide-drill:checked ~ .drill {
    display: inline-block;
}
.type-item-slider .slider-item {
    display: none;
    width: 620px;
    height: 266px;
    color: #fff;
}
.slider-description .type-name {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 5px;
    margin-left: 0;
}
.products .slider-description {
    padding-top: 23px;
    margin-left: 26px;
    margin-bottom: 30px;
}
.slider-description .type-about {
    font-size: 18px;
    line-height: 24px;
    margin-left: 0;
}
.slider-list .arrow-buttons {
    margin-bottom: 52px;
}
.slider-item.perforator {
    background-image: url("img/stroitel2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.slider-item.drill {
    background-image: url("img/stroitel1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.slider-item .red-button {
    width: 195px;
    height: 38px;
    line-height: 38px;/*vertical align*/
    margin-right: 75px;
    margin-left: 25px;
}

/* ******************************************************************** */
/* POPULAR */
.popular {
    margin-bottom: 20px;
    font-family: "PT Sans", sans-serif;
}
.justify-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Cuprum", sans-serif;
    background-color: #f9f5f0;
    width: 940px;
    height: 89px;  
    vertical-align: middle;
    margin-bottom: 20px;
}
.justify-head .red-button {
    margin-right: 24px;
}
.popular h2, .manufacturer h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 30px;
    
    color: #32425c;
}
.popular .red-button, .manufacturer .red-button {
    width: 253px;
    height: 38px;
    line-height: 38px;/*vertical align*/
}
.popular-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.popular-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 220px;
    height: 318px;
    border: 1px solid #eaeaea;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
}
.popular-item .hover-green {
    display: none;
}
.popular-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.popular-item:hover img {
    display: none;
}
.popular-item:hover .hover-green {
    display: inline-block;
    order: -2;
}
.popular-item:not(:last-child) {
    margin-right: 20px;
}
.popular-item .product-name {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    order: -1;
    margin-bottom: 12px;
}
.popular-item .old-price {
    text-decoration: line-through;
    color: #aaaaaa;
    text-align: center;
    height: 18px;
    order: 0;
    margin-bottom: 12px;
}
.popular-item .product-price {
    display: inline-block;
    width: 141px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-image: url("img/btncopy1.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    order: 1;
}
.popular-item .product-img {
    order: -2;
    margin-bottom: 10px;
}
.green-button {
    display: inline-block;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
}
.green-border {
    background-color: #fff;
    color: #32425c;
    border: 3px solid #63a63e;
    margin-bottom: 53px;
}
.full-button {
    background-color: #63a63e;
    color: #fff;
    border-bottom: 3px solid #367315;
    margin-bottom: 7px;
    margin-top: 44px;
}
.full-button:hover {
    background-color: #5fbb2d;
}
.full-button:active {
    background-color: #518534;
    border-bottom-color: #518534;
}
.green-border:hover {
    border-color: #32425c;
}
.green-border:active {
    border-color: rgba(50, 66, 92, 0.3);
    color: rgba(50, 66, 92, 0.3);
}

/*MANUFACTURER*/
.manufacturer-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.manufacturer-item {
    width: 220px;
    height: 145px;
    line-height: 145px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.manufacturer-item:nth-child(4n) {
    margin-right: 0;
}
.manufacturer-item img {
    vertical-align: middle;
}
.manufacturer-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.manufacturer-item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.manufacturer-item:active img {
    opacity: 50%;
}

/*--------------------SERVICES-----------------------*/
/*--------------------SERVICES-----------------------*/
/*--------------------SERVICES-----------------------*/
.services h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 30px;
    font-weight: 500;
}
.services .about {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 24px;
}
.services .wrapper-background {
    position: absolute;
    top: 0;
    right: 0;
    height: 279px;
    width: 10px;
    background-image: url("img/line272-10.png");
    background-repeat: no-repeat;
    background-position: center right;
}
.services .services-left-part {
    position: relative;
    height: 279px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}
.services .slider2 {
    display: inline-block;
    width: 217px;
    height: 60px;
    background-color: #32425c;
    color: #fff;
    font-size: 21px;
    line-height: 60px;
    padding-left: 23px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}
.services .slider2:hover {
    background-color: #293449;
}
input#slide-delivery:checked ~ .services-wrapper .services-left-part .caption-delivery,
input#slide-quarantee:checked ~ .services-wrapper .services-left-part .caption-quarantee,
input#slide-credit:checked ~ .services-wrapper .services-left-part .caption-credit {
    background-color: #fff;
    color: #32425c;
    border-color: #fff;
}
input#slide-delivery:checked ~ .services-wrapper .services-right-part .services-guarantee, 
input#slide-delivery:checked ~ .services-wrapper .services-right-part .services-credit {
    display: none;
}
input#slide-quarantee:checked ~ .services-wrapper .services-right-part .services-delivery, 
input#slide-quarantee:checked ~ .services-wrapper .services-right-part .services-credit {
    display: none;
}
input#slide-credit:checked ~ .services-wrapper .services-right-part .services-delivery,
input#slide-credit:checked ~ .services-wrapper .services-right-part .services-guarantee {
    display: none;
}
.slider-services {
    display: none;
}
.services-wrapper {
    display: flex;
}
.services-high-head {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    margin-bottom: 24px;
}
.services-right-part .services-toggle {
    margin-top: 45px;
}
.services-toggle p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 25px;
}
.services-credit a {
        width: 195px;
        height: 38px;
        font-family: "Cuprum", sans-serif;
        font-size: 14px;
        line-height: 38px;/*vertical align*/
}
/* .services-right-part {
    width: 618px;
    height: 282px;
} */
.services-toggle {
    width: 618px;
    height: 282px;
}
.services-delivery {
    background-image: url("img/delivery.png");
    background-repeat: no-repeat;
    background-position: top right; 
}
.services-guarantee {
    background-image: url("img/garanty.png");
    background-repeat: no-repeat;
    background-position: top right; 
}
.services-credit {
    background-image: url("img/credit.png");
    background-repeat: no-repeat;
    background-position: top right; 
}
/*------------ABOUT----------------*/
/**************************************************************/
.flex-about {
    display: flex;
    justify-content: space-between;
}
.about, .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about h2, .contacts h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.about p, .contacts p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
}
.contacts {
    width: 300px;
    height: 370px;
}
.about .list {
    padding-left: 36px;
    margin:0;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}
.about .red-button {
    width: 220px;
    height: 38px;
    line-height: 38px;
}
.contacts .red-button {
    width: 300px;
    height: 38px;
    line-height: 38px;
}
/*----------CONTACTS*/
.left-side p {
    font-size: 18px;
    line-height: 24px;
}
.flex-contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 53px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 547px;
    height: 82px;
    margin-top: 42px;
}
.footer-site-list, .footer-services-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}
.footer-site-list {
    justify-content: space-between;
    width: 547px;
    height: 24px;
}
.footer-services-list {
    justify-content: space-between;
    width: 524px;
    height: 24px;
    margin-left: 23px;
}
.footer-site-list a {
    color: #f1f5f7;
}
.footer-services-list a {
    color: #ffd180;
}
.footer-site-list a:hover, .footer-services-list a:hover {
    text-decoration: underline;
}
.footer-site-list a:active, .footer-services-list a:active {
    opacity: 50%;
}
/*--------------FLEX-LINKS*/
.flex-links {
    display: flex;
    height: 107px;
    font-size: 16px;
    line-height: 18px;
}
.footer-left {
    margin-right: 161px;
    margin-top: 38px;
}
.footer-middle {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 120px;
    display: flex;
    width: 132px;
    justify-content: space-between;
    align-items: center;
}
.footer-middle li {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}
.footer-middle a {
    display: block;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
}
.footer-middle img {
    vertical-align: middle;
}
.footer-middle a:hover, .footer-middle a:active {
    background-color: #ee3643;
}
.footer-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-right .yellow {
    color: #f5c97d;
}
.footer-right .block-left {
    margin-right: 53px;
}
.footer-right .yellow:hover {
    text-decoration: underline;
}
.footer-right .yellow:active {
    text-decoration: none;
    color: #ee3643;
}